extends layout

block content
  h2 General Assembly Scorecard
  
  p
    | View the voting records of members of the Georgia General Assembly categorized
    | by the vote the member cast. Select a legislative session, then select a member
    | from that session. After doing so you'll see their entire vote history across all
    | sessions.

  hr
  
  div(class='row')
    div(class='col-md-3')
      form(role='form')
        div(class='form-group')
          label(for='session-selection') Session
          select(id='session-selection' class='form-control' data-bind='options: sessions, optionsText: \'name\', value: selectedSession')
            option(value='2013-2014') 2013-2014 Regular Session

        div(class='form-group')
          label(for='member-selection') Member
          select(id='member-selection' class='form-control', data-bind="options: members, optionsText: 'fullName', value: selectedMember")
            option(value='43043') Jimmy Dollars
    
    div(class='col-md-9' data-bind='if: selectedMember')
      div(class='row' data-bind='with: selectedMember')
        div(class='col-md-9 col-sm-12')
          h3(data-bind='text: fullName') Jimmy Dollars
      
          p(data-bind="text: tagline") D - District 12 - Atlanta
      
          h4 Voted Yea

          ul(data-bind="foreach: yea")
            li
              time(datetime='2014-01-01' data-bind='attr: {datetime: dateTime}, text: dateTime') Jan 1, 2014
              a(class='vote-description' href="#" data-bind="text: caption") PASSAGE

          h4 Voted Nay

          ul
            li
              time(datetime='2014-01-01') Jan 1, 2014
              a(class='vote-description' href="#") PASSAGE

            li
              time(datetime='2014-01-01') Jan 1, 2014
              a(class='vote-description' href="#") PASSAGE

        div(class='col-md-3 hidden-sm hidden-xs')
          img(data-bind='attr: {src: photoUri}' style='width: 100%')
